{% extends 'base.html.twig' %}


{% block body %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                Products List
            </div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Created At</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}

                    <tr>
                        <th scope="row">{{ product.id }}</th>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.createdAt | date }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}